p.personal-quote {
  color: rgb(201, 162, 39);
  padding: 15px;
  font-size: 2rem;
  font-family: "Tangerine", cursive;
  text-align: center;
}

p.about-paragraph {
  color: lightgoldenrodyellow;
  text-shadow: 1px 1px 1px chocolate;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;

  font-family: "Mali", cursive;
}
div.gallery {
  display: flex;
}
div.photo-container {
  display: flex;
  padding: 10px;
  margin: 20px;
  scale: 85%;
}

div.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

div.about-con {
  scale: 85%;
}
