img#logo-img {
  display: grid;
  place-self: start start;
}

#img-logo {
  img {
    width: 210;
    height: 180;
  }
}

div {
  display: grid;
}

div#logo-img {
  max-width: max-content;
}

div.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
