ul#navUl {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
nav#navlinks {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

div.nav-link {
  color: darkred;
}

a {
  color: darkred;
}
