ul#navUl {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
nav#navlinks {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

div.nav-link {
  
  color: floralwhite;
}

a {
  color: floralwhite;
  font-size: 1rem;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
}
